<div class="card-container">
<div layout="row" layout-align="center none">
  <mat-card class="example-card">
    <img mat-card-image src="/assets/sites/cishop.png" alt="Cishop">
    <mat-card-actions>
      <button mat-button><a href="http://cishop.miri.io" target="_blank">View</a></button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="/assets/sites/onseng.png" alt="Onseng">
    <mat-card-actions>
      <button mat-button><a href="http://www.onseng.com" target="_blank">View</a></button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="/assets/sites/loanerr.png" alt="Loanerr">
    <mat-card-actions>
      <button mat-button><a href="https://loanerr.ca" target="_blank">View</a></button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="/assets/sites/mingjun.png" alt="Smart CCTV Cabling Solution">
    <mat-card-actions>
      <button mat-button><a href="http://smarthomecabling.com" target="_blank">View</a></button>
    </mat-card-actions>
  </mat-card>  

</div>  
</div>