<section class="section section--testimonials" id="testimonials">

			<div class="section__content section__content--fluid-width section__content--padding">
			        <h2 class="section__title section__title--centered">Success stories</h2>
					  <div class="testimonials swiper-container-horizontal">
						<div class="testimonials__content swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
							  <div class="testimonials__slide swiper-slide swiper-slide-active">
								<div class="testimonials__thumb" data-swiper-parallax="-50%" style="transition-duration: 0ms;"><img src="/assets/images/avatar-1.jpg" alt="" title=""></div>
								<div class="testimonials__source">Lason Duvan <a href="#">New York Business Center</a></div>
								<div class="testimonials__text" data-swiper-parallax="-100%" style="transition-duration: 0ms;"><p>"Business is all about the customer: what the customer wants and what they get. "</p></div>
								
							  </div>
							  <div class="testimonials__slide swiper-slide swiper-slide-next">
								<div class="testimonials__thumb" data-swiper-parallax="-50%" style="transition-duration: 0ms;"><img src="/assets/images/avatar-2.jpg" alt="" title=""></div>
								<div class="testimonials__source">Jada Sacks <a href="#">Paris Tehnics</a></div>
								<div class="testimonials__text" data-swiper-parallax="-100%" style="transition-duration: 0ms;"><p>" I've internalized it to the point of understanding that the success of my actions and/or endeavors"</p></div>
								
							  </div>
							  <div class="testimonials__slide swiper-slide">
								<div class="testimonials__thumb" data-swiper-parallax="-50%" style="transition-duration: 0ms;"><img src="/assets/images/avatar-3.jpg" alt="" title=""></div>
								<div class="testimonials__source">Lason Duvan <a href="#">Music Software</a></div>
								<div class="testimonials__text" data-swiper-parallax="-100%" style="transition-duration: 0ms;"><p>"The American Dream is that any man or woman, despite of his or her background, can change their circumstances"</p></div>
								
							  </div>
							  <div class="testimonials__slide swiper-slide">
								<div class="testimonials__thumb" data-swiper-parallax="-50%" style="transition-duration: 0ms;"><img src="/assets/images/avatar-4.jpg" alt="" title=""></div>
								<div class="testimonials__source">Duran Jackson <a href="#">New York Business Center</a></div>
								<div class="testimonials__text" data-swiper-parallax="-100%" style="transition-duration: 0ms;"><p>"Generally, every customer wants a product or service that solves their problem, worth their money"</p></div>
								
							  </div>
							  <div class="testimonials__slide swiper-slide">
								<div class="testimonials__thumb" data-swiper-parallax="-50%" style="transition-duration: 0ms;"><img src="/assets/images/avatar-5.jpg" alt="" title=""></div>
								<div class="testimonials__source">Maria Allesi <a href="#">Italy Solutions</a></div>
								<div class="testimonials__text" data-swiper-parallax="-100%" style="transition-duration: 0ms;"><p>"No one can make you successful; the will to success comes from within.' I've made this my motto."</p></div>
								
							  </div>
							  <div class="testimonials__slide swiper-slide">
								<div class="testimonials__thumb" data-swiper-parallax="-50%" style="transition-duration: 0ms;"><img src="/assets/images/avatar-6.jpg" alt="" title=""></div>
								<div class="testimonials__source">Jenifer Patrison<a href="#">App Dating</a></div>
								<div class="testimonials__text" data-swiper-parallax="-100%" style="transition-duration: 0ms;"><p>"Can change their circumstances and rise as high as they are willing to work"</p></div>
								
							  </div>  
						</div>

					<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
				<div class="clear"></div>
			</div>
		
	</section>