<div id='cssmenu'>
<ul>
   <li class='active'><a href='#'><span><button class="btn-nav" mat-button>Home</button></span></a></li>
   <li><a href='#'><span><button class="btn-nav" mat-button>Services</button></span></a></li>
   <li><a href='#'><span><button class="btn-nav" mat-button>Porfolio</button></span></a></li>
   <li><a href='#'><span><button class="btn-nav" mat-button>FAQ</button></span></a></li>
   <li class='last'><a href='#'><span><button class="btn-nav" mat-button>Contact</button></span></a></li>

   <li class="btn-setup"><span>
    <button class="btn-nav" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        English
      </button>
      <button mat-menu-item>
        中文
      </button>
    </mat-menu>
  </span></li>
</ul>


</div>