<section class="section" id="support">
			<div class="section__content section__content--fluid-width section__content--padding">	
				<div class="grid grid--2col grid--support">
					<div class="grid__item grid__item--padding">
						
						<h3 class="grid__title">Help &amp; Support</h3>
						<p class="grid__text">Your issue is our main priority. Our 24/7 support team is here to help you and make sure your website is up to date.  We would love to hear what your concern is. Please contact us via 647-939-6190 or wechat ID:gentaqiu.</p>
					</div>
					<div class="grid__item grid__item--padding grid__item--centering">
						<a href="tel:647-939-6190" class="grid__more">GET IN TOUCH NOW</a>
					</div>
					<svg class="svg-support-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
					<path d="M0,90 Q0,100 3,100 L95,96 Q100,96 99,80 L95,25 Q94,15 90,15 L6,0 Q2,0 2,10 Z" fill="#fb993e"></path>
					</svg>
				</div>
				<div class="clear"></div>
			</div>
		
	</section>