<section class="section section--features" id="features">

			<div class="section__content section__content--fluid-width section__content--features">
			        <h2 class="section__title section__title--centered">Custom Frontend and Backend Development Services</h2>
				<div class="section__description section__description--centered">
				Our frontend(Angular/React/Vuejs/Wechat Mini Program) and backend(PHP/Node JS) developers strive for making our clients' plans come true. We build reliable and scalable software working for our clients.
				</div>
				<div class="grid grid--3col grid--features">
				
					<div class="grid__item">
						<div class="grid__icon"><img src="/assets/images/responsive-64.png" alt="" title=""></div>
						<h3 class="grid__title"><span>Responsive</span> Layout Template</h3>
						<p class="grid__text">Responsive code that makes your website look good on all devices (desktops, tablets, and phones). Created with mobile specialists.</p>
					</div>
					
					<div class="grid__item">
						<div class="grid__icon"><img src="/assets/images/desktop-chart-64.png" alt="" title=""></div>
						<h3 class="grid__title">SEO Friendly  <span>Website</span></h3>
						<p class="grid__text">It’s easy for search engines to crawl (read) and understand what the particular website is all about.</p>
					</div>
					
					<div class="grid__item">
						<div class="grid__icon"><img src="/assets/images/browser-64.png" alt="" title=""></div>
						<h3 class="grid__title">Local <span>Business Listing and Monitoring</span></h3>
						<p class="grid__text">Focus on helping businesses get more customers via various social media platforms(Google Map/Yelp/Facebook/Twitter/Youtube/Wechat) and monitor monthly reports about user activity insight(Review/Rating etc.).</p>
					</div>	

				</div>
				
				<div class="grid grid--3col grid--features">
				
					
					<div class="grid__item">
						<div class="grid__icon"><img src="/assets/images/users-64.png" alt="" title=""></div>
						<h3 class="grid__title">User <span>Friendly</span></h3>
						<p class="grid__text">Easy to navigate. Made with user experience in mind, in order to provide the perfect landing page experience for your client.</p>
					</div>
					
					<div class="grid__item">
						<div class="grid__icon"><img src="/assets/images/security-64.png" alt="" title=""></div>
						<h3 class="grid__title">Best <span>Website Hosting</span></h3>
						<p class="grid__text">Expert hosting support available 24/7/365, Superior performance and load times, Guaranteed 99.9% uptime.</p>
					</div>
					
					<div class="grid__item">
						<div class="grid__icon"><img src="/assets/images/target-64.png" alt="" title=""></div>
						<h3 class="grid__title">Target <span>audience</span></h3>
						<p class="grid__text">Blocks, Elements and Modifiers. A smart HTML 5/CSS 3 structure that can easily be reused. Layout driven by the purpose of modularity.</p>
					</div>

				</div>
			</div>

			
	</section>